deepface==0.0.93
gdown==5.2.0
inference_cli==0.28.0
inference_sdk==0.28.0
keras==3.6.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow
Requests==2.32.3
tensorflow==2.18.0
tensorflow_intel==2.18.0
tf_keras==2.18.0
